[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rankhazard"]
	path = rankhazard
	url = https://github.com/nannikoski/rankhazard
